// All State Styles In Here

/* A state is something that augments 
and overrides all other styles. For 
example, an accordion section may be 
in a collapsed or expanded state. A 
message may be in a success or error 
state.

States are generally applied to the 
same element as a layout rule or 
applied to the same element as a base 
module class. */

// https://smacss.com/book/

// Nav Scrolled State
.scrolled {
	#MainHeader {
		.navbar-brand {
			padding-top: 1px;
			padding-bottom: 3px;
			overflow: hidden;
			width: 44px;

			img {
				max-width: 150px;
			}
		}
		.main-nav {
			.nav-item {
				.nav-link {
					font-size: 1rem;
					font-weight: $regular;

					&.header-btn {
						border: none;
						font-weight: $regular;
						margin-left: 0;
						@include padding(6px 16px !important);
					}
					&.header-cart-btn {
						margin-left: 0;
					}
				}
			}
		}
	}
}