// Colors
$color-1: #005A7C;
$color-1-svg: "005A7C";
$color-2: #C0D6E3;
$color-2-svg: "C0D6E3";
$color-3: #9EBE72;
$color-3-svg: "9EBE72";
$color-4: #5D8028;
$color-4-svg: "5D8028";
$color-5: #027698;
$color-5-svg: "027698";
$color-6: #FFDFA6;
$color-6-svg: "FFDFA6";

$light-gray: #f7f6f7;
// Mobile Mega Menu
$mm-level-1: #5E99B6;
$mm-level-2: #027698;
$mm-level-3: $color-1;