// Colors
$color-1: #CE2C21;
$color-1-svg: "CE2C21";
$color-2: #474F65;
$color-2-svg: "474F65";
$color-3: #838DA7;
$color-3-svg: "838DA7";
$color-4: #E7E9EE;
$color-4-svg: "E7E9EE";
$color-5: #B1BBD3;
$color-5-svg: "B1BBD3";
$color-6: #838EA8;
$color-6-svg: "838EA8";
$color-7: #EA5555;
$color-7-svg: "EA5555";