// Weights
$light: 300;
$regular: 400;
$medium: 500;
$demi: 600;
$semi-bold: $demi;
$bold: 700;
$extra-bold: 800;
$black: 900;

*,
*::before,
*::after {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	@include font-size(20px);
	@include rfs(29px, line-height);
}

a {
	color: $color-9;
	transition: 0.25s all;
	text-decoration: none;

	&::before {
		transition: 0.25s all;
	}
	&:hover {
		color: $color-1;
	}
	svg {
		&,
		path {
			transition: 0.25s fill;
		}
	}
}

h2 {
	@include font-size(28px);
	line-height: 100%;
	font-weight: $bold;
}