.card {
	&.stop-gray-card,
	&.stop-white-card {
		@include padding(45px 55px);
		border: none;
		@include border-radius(25px);
		background: linear-gradient(120deg, $color-4 0%, rgba($color-4, .25) 100%);

		.card-title {
			@include font-size(24px);
			color: $color-2;
			font-family: $alt-sans;
			font-weight: $medium;
		}
		.card-text {
			@include font-size(15px);
			line-height: 140%;
			font-weight: $light;
			@include margin-bottom(25px);
		}
	}
	&.stop-white-card {
		background: #fff;
		padding-left: 0;
		padding-right: 0;

		img {
			max-width: 344px;
		}
		.card-title {
			@include font-size(16px);
		}
		.card-text {
			font-style: italic;
			@include font-size(14px);
		}
	}
}