.four-points {
	background-color: $color-4;
	@include padding-top(150px);
	@include padding-bottom(150px);
}
.four-point-section {
	position: relative;
	@include padding-bottom(60px);
	@include margin-bottom(60px);

	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 50%;
		width: calc(100% - 30px);
		height: 1px;
		background-color: $color-5;
		transform: translateX(-50%);
	}
	&:last-child {
		padding-bottom: 0;
		margin-bottom: 0;

		&::after {
			display: none;
		}
	}
	[class^="col"], [class*=" col"] {
		& > *:last-child {
			margin-bottom: 0;
		}
	}
	.intro {
		h3 {
			@include font-size(28px);
			font-weight: $bold;
			line-height: 100%;
			@include margin-bottom(15px);
		}
		p {
			@include font-size(22px);
			line-height: 135%;
		}
	}
	&.supporting-graphic-left {
		.supporting-content {
			@include padding-left(67px);
		}
	}
	&.supporting-graphic-right {
		flex-direction: row-reverse;
		
		.supporting-content {
			@include padding-right(67px);
		}
	}
	.supporting-content {
		.section-title {
			@include font-size(12px);
			line-height: 105%;
			letter-spacing: 0.04em;
			color: $color-3;
			text-transform: uppercase;
		}
		h3 {
			color: $color-1;
			@include font-size(50px);
			font-weight: $bold;
			line-height: 105%;
			@include margin-bottom(20px);
		}
		h4 {
			@include font-size(28px);
			font-weight: $bold;
			color: $color-2; 
			line-height: 105%;
			letter-spacing: -0.02em;
			@include margin-bottom(20px);
		}
		p {
			@include margin-bottom(20px);
		}
	}
}