.main-nav {
	// Base Styles
	.nav-item {
		.nav-link {
			@include font-size(24px);
			line-height: 1;
			font-family: $alt-sans;
			font-weight: $light;
			@include padding(6px 16px);
			color: #000;

			&:hover {
				color: $color-1;
			}
		}
		ul {
			list-style: none;
			padding: 0;
		}
		// Mega Menu Background and Positioning
		& > .sub-menu,
		& > .mega-sub-menu-wrapper {
			position: absolute;
			left: 0;
			width: 100%;
			background-color: #fff;
		}
	}
	.navbar-nav {
		// Top level link in main navigation
		& > .nav-item {
			// Hover-safe area for top level links
			& > .nav-link {
				position: relative;
			}
			&:has(> ul) {
				& > .nav-link {
					z-index: 10;

					&::before {
						display: none;
						content: '';
						width: 300%;
						height: 100%;
						position: absolute;
						top: 100%;
						left: 50%;
						transform: translateX(-50%);
					}
					&:hover {
						z-index: 100;
					}
				}
			}
			// Ensuring only actively hovered main nav item displays hover-safe area for easier mouse transition to mega menu content
			&:hover {
				& > .nav-link::before {
					display: block;
				}
			}
			// Mega Menu Column and Sub-Navigation Styles contained within top level links
			& > .sub-menu,
			& > .mega-sub-menu-wrapper {
				@include padding(40px 30px);
				border-top: 1px solid #000;
				margin-top: 36px;

				.sub-menu {
					display: block;
					position: relative;
				}
				.mega-menu-row {
					& > ul.mega-sub-menu {
						display: flex;

						& > .mega-sub-menu-column {
							&:last-child {
								display: flex;
								align-items: center;
							}
						}
					}
				}
			}
			// Mega Menu Link Styles
			& > .mega-sub-menu-wrapper {
				.mega-menu-row {
					.mega-sub-menu {
						.mega-sub-menu-column {
							&:first-child {
								border-right: 1px solid #000;
								@include padding-right(100px);
								min-width: 308px;
							}
							&:last-child {
								@include padding-left(100px);
							}
							& > .sub-menu {			
								.nav-item {
									.nav-link {
										padding-left: 0;
										padding-right: 0;
									}
								}					
								& > .nav-item {
									@include margin-bottom(20px);

									&:last-child {
										margin-bottom: 0;
									}
									& > .nav-link {
										font-weight: $medium;
										@include font-size(24px);
										color: $color-1;
										@include padding(10px 0);

										&:hover {
											color: $color-8;
										}
									}
									.sub-menu {
										.nav-item {
											.nav-link {
												@include font-size(18px);
												@include padding(10px 0 10px 20px);
												position: relative;
												transition: 0.25s all;

												&::before {
													content: '';
													background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.72998 0.28992L11.1987 4.55555C11.3257 4.6825 11.4019 4.83484 11.4019 5.01258C11.4019 5.16492 11.3257 5.31726 11.1987 5.44422L6.72998 9.70984C6.50146 9.93836 6.09521 9.93836 5.8667 9.68445C5.63818 9.45594 5.63818 9.04969 5.89209 8.82117L9.26904 5.62195H0.63623C0.280762 5.62195 0.0268555 5.34265 0.0268555 5.01258C0.0268555 4.65711 0.280762 4.4032 0.63623 4.4032H9.26904L5.89209 1.17859C5.63818 0.950076 5.63818 0.543827 5.8667 0.315311C6.09521 0.0614046 6.47607 0.0614046 6.72998 0.28992Z' fill='%23000000'/%3E%3C/svg%3E%0A");
													width: 13px;
													height: 13px;
													position: absolute;
													left: 0;
													top: 13px;
													background-size: contain;
													background-repeat: no-repeat;
												}
												&:hover {
													color: $color-8;
													padding-left: 0;
													@include padding-right(20px);

													&::before {
														background-image: url("data:image/svg+xml,%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.72998 0.28992L11.1987 4.55555C11.3257 4.6825 11.4019 4.83484 11.4019 5.01258C11.4019 5.16492 11.3257 5.31726 11.1987 5.44422L6.72998 9.70984C6.50146 9.93836 6.09521 9.93836 5.8667 9.68445C5.63818 9.45594 5.63818 9.04969 5.89209 8.82117L9.26904 5.62195H0.63623C0.280762 5.62195 0.0268555 5.34265 0.0268555 5.01258C0.0268555 4.65711 0.280762 4.4032 0.63623 4.4032H9.26904L5.89209 1.17859C5.63818 0.950076 5.63818 0.543827 5.8667 0.315311C6.09521 0.0614046 6.47607 0.0614046 6.72998 0.28992Z' fill='%23#{$color-8-svg}'/%3E%3C/svg%3E%0A");
														left: 100%;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
			// Standard Sub Menu Link Styles
			& > .sub-menu {
				& > .nav-item {
					position: relative;

					.nav-link {
						@include padding(12px 0);
						color: $color-1;

						&:hover {
							color: $color-8;
						}
					}
				}
			}
		}
	}
	// Initial Show/hide state
	.navbar-nav {
		.nav-item,
		.sub-menu,
		.mega-sub-menu-wrapper {
			display: none;
		}
		& > .nav-item {
			display: block;
		}
	}
	// On Hover
	@include media-breakpoint-up(lg) {
		.navbar-nav {
			& > .nav-item {
				&:hover {
					.mega-sub-menu-wrapper,
					.sub-menu {
						&,
						& > .nav-item {
							display: block;
						}
					}
				}
			}
		}
	}
}