footer {
	.social-nav {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;
		column-gap: 10px;

		li {
			a {
				font-size: 0;
				height: 0;
				color: transparent;
				width: 40px;
				height: 40px;
				display: block;
				border-radius: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				border: 1px solid $color-3;

				&::before {
					content: '';
					display: block;
					background-size: contain;
					background-repeat: no-repeat;
				}
				&:hover {
					background-color: $color-3;
				}
			}
			&.linkedin {
				a {
					&::before {
						width: 14px;
						height: 14px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='16' fill='none'%3E%3Cpath fill='%23#{$color-3-svg}' d='M3.7 15.317H.792V5.973H3.7v9.344ZM2.23 4.723c-.906 0-1.656-.781-1.656-1.719a1.657 1.657 0 0 1 2.5-1.437c.532.28.844.843.844 1.437 0 .938-.75 1.719-1.687 1.719Zm12.313 10.594h-2.875v-4.532c0-1.093-.031-2.468-1.531-2.468s-1.719 1.156-1.719 2.375v4.625H5.512V5.973h2.781v1.281h.031c.407-.719 1.344-1.5 2.75-1.5 2.938 0 3.5 1.938 3.5 4.438v5.125h-.03Z'/%3E%3C/svg%3E");
					}
					&:hover {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='16' fill='none'%3E%3Cpath fill='%23FFFFFF' d='M3.7 15.317H.792V5.973H3.7v9.344ZM2.23 4.723c-.906 0-1.656-.781-1.656-1.719a1.657 1.657 0 0 1 2.5-1.437c.532.28.844.843.844 1.437 0 .938-.75 1.719-1.687 1.719Zm12.313 10.594h-2.875v-4.532c0-1.093-.031-2.468-1.531-2.468s-1.719 1.156-1.719 2.375v4.625H5.512V5.973h2.781v1.281h.031c.407-.719 1.344-1.5 2.75-1.5 2.938 0 3.5 1.938 3.5 4.438v5.125h-.03Z'/%3E%3C/svg%3E");
						}
					}
				}
			}
			&.twitter {
				a {
					&::before {
						width: 14px;
						height: 13px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13' fill='none'%3E%3Cpath fill='%23#{$color-3-svg}' d='M11.296.282h2.111l-4.61 5.269 5.423 7.17H9.976L6.647 8.373l-3.803 4.348H.73l4.93-5.636L.46.282h4.354l3.005 3.974L11.296.282Zm-.741 11.177h1.169l-7.547-9.98H2.921l7.634 9.98Z'/%3E%3C/svg%3E");
					}
					&:hover {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='13' fill='none'%3E%3Cpath fill='%23FFFFFF' d='M11.296.282h2.111l-4.61 5.269 5.423 7.17H9.976L6.647 8.373l-3.803 4.348H.73l4.93-5.636L.46.282h4.354l3.005 3.974L11.296.282Zm-.741 11.177h1.169l-7.547-9.98H2.921l7.634 9.98Z'/%3E%3C/svg%3E");
						}
					}
				}
			}
			&.facebook {
				a {
					&::before {
						width: 9px;
						height: 16px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='17' fill='none'%3E%3Cpath fill='%23#{$color-3-svg}' d='M8.293 9.317H5.95v7H2.824v-7H.262V6.442h2.562v-2.22c0-2.5 1.5-3.905 3.782-3.905 1.093 0 2.25.218 2.25.218v2.47H7.574c-1.25 0-1.625.75-1.625 1.562v1.875h2.782l-.438 2.875Z'/%3E%3C/svg%3E");
					}
					&:hover {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='17' fill='none'%3E%3Cpath fill='%23FFFFFF' d='M8.293 9.317H5.95v7H2.824v-7H.262V6.442h2.562v-2.22c0-2.5 1.5-3.905 3.782-3.905 1.093 0 2.25.218 2.25.218v2.47H7.574c-1.25 0-1.625.75-1.625 1.562v1.875h2.782l-.438 2.875Z'/%3E%3C/svg%3E");
						}
					}
				}
			}
			&.youtube {
				a {
					&::before {
						width: 17px;
						height: 12px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13' fill='none'%3E%3Cpath fill='%23#{$color-3-svg}' d='M16.73 2.223c.376 1.312.376 4.125.376 4.125s0 2.781-.375 4.125a2.084 2.084 0 0 1-1.5 1.5c-1.344.344-6.657.344-6.657.344s-5.343 0-6.687-.344a2.084 2.084 0 0 1-1.5-1.5C.012 9.129.012 6.348.012 6.348s0-2.813.375-4.125a2.126 2.126 0 0 1 1.5-1.531C3.231.317 8.574.317 8.574.317s5.313 0 6.657.375a2.126 2.126 0 0 1 1.5 1.53ZM6.825 8.879l4.438-2.531-4.438-2.531v5.062Z'/%3E%3C/svg%3E");
					}
					&:hover {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='13' fill='none'%3E%3Cpath fill='%23FFFFFF' d='M16.73 2.223c.376 1.312.376 4.125.376 4.125s0 2.781-.375 4.125a2.084 2.084 0 0 1-1.5 1.5c-1.344.344-6.657.344-6.657.344s-5.343 0-6.687-.344a2.084 2.084 0 0 1-1.5-1.5C.012 9.129.012 6.348.012 6.348s0-2.813.375-4.125a2.126 2.126 0 0 1 1.5-1.531C3.231.317 8.574.317 8.574.317s5.313 0 6.657.375a2.126 2.126 0 0 1 1.5 1.53ZM6.825 8.879l4.438-2.531-4.438-2.531v5.062Z'/%3E%3C/svg%3E");
						}
					}
				}
			}
			&.instagram {
				a {
					&::before {
						width: 14px;
						height: 14px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath fill='%23#{$color-3-svg}' d='M10.963 7.352c0 1.994-1.608 3.601-3.601 3.601a3.595 3.595 0 0 1-3.601-3.6c0-1.994 1.608-3.602 3.6-3.602 1.994 0 3.602 1.608 3.602 3.601Zm-5.942 0a2.345 2.345 0 0 0 2.34 2.341 2.343 2.343 0 0 0 2.342-2.34A2.343 2.343 0 0 0 7.362 5.01 2.345 2.345 0 0 0 5.02 7.352Zm6.089-4.588a.838.838 0 0 0-.84.84.84.84 0 1 0 .84-.84ZM10.258.38c1.125.054 2.121.31 2.942 1.135.821.82 1.078 1.818 1.135 2.943.066 1.16.066 4.635 0 5.794-.054 1.122-.31 2.119-1.132 2.943-.82.824-1.817 1.078-2.942 1.135-1.16.065-4.635.065-5.795 0-1.125-.054-2.122-.31-2.943-1.135C.703 12.37.445 11.376.39 10.251c-.066-1.16-.066-4.635 0-5.794.053-1.125.31-2.122 1.134-2.943C2.344.693 3.341.436 4.466.379c1.16-.065 4.632-.065 5.792 0ZM3.222 1.877a2.37 2.37 0 0 0-1.335 1.335c-.367.925-.282 3.119-.282 4.14 0 1.022-.082 3.219.282 4.14a2.37 2.37 0 0 0 1.335 1.335c.924.367 3.118.283 4.14.283 1.021 0 3.218.08 4.14-.283a2.37 2.37 0 0 0 1.335-1.335c.366-.924.282-3.118.282-4.14 0-1.021.081-3.218-.282-4.14a2.37 2.37 0 0 0-1.335-1.335c-.925-.366-3.119-.282-4.14-.282-1.022 0-3.219-.084-4.14.282Z'/%3E%3C/svg%3E");
					}
					&:hover {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' fill='none'%3E%3Cpath fill='%23FFFFFF' d='M10.963 7.352c0 1.994-1.608 3.601-3.601 3.601a3.595 3.595 0 0 1-3.601-3.6c0-1.994 1.608-3.602 3.6-3.602 1.994 0 3.602 1.608 3.602 3.601Zm-5.942 0a2.345 2.345 0 0 0 2.34 2.341 2.343 2.343 0 0 0 2.342-2.34A2.343 2.343 0 0 0 7.362 5.01 2.345 2.345 0 0 0 5.02 7.352Zm6.089-4.588a.838.838 0 0 0-.84.84.84.84 0 1 0 .84-.84ZM10.258.38c1.125.054 2.121.31 2.942 1.135.821.82 1.078 1.818 1.135 2.943.066 1.16.066 4.635 0 5.794-.054 1.122-.31 2.119-1.132 2.943-.82.824-1.817 1.078-2.942 1.135-1.16.065-4.635.065-5.795 0-1.125-.054-2.122-.31-2.943-1.135C.703 12.37.445 11.376.39 10.251c-.066-1.16-.066-4.635 0-5.794.053-1.125.31-2.122 1.134-2.943C2.344.693 3.341.436 4.466.379c1.16-.065 4.632-.065 5.792 0ZM3.222 1.877a2.37 2.37 0 0 0-1.335 1.335c-.367.925-.282 3.119-.282 4.14 0 1.022-.082 3.219.282 4.14a2.37 2.37 0 0 0 1.335 1.335c.924.367 3.118.283 4.14.283 1.021 0 3.218.08 4.14-.283a2.37 2.37 0 0 0 1.335-1.335c.366-.924.282-3.118.282-4.14 0-1.021.081-3.218-.282-4.14a2.37 2.37 0 0 0-1.335-1.335c-.925-.366-3.119-.282-4.14-.282-1.022 0-3.219-.084-4.14.282Z'/%3E%3C/svg%3E");
						}
					}
				}
			}
			&.email {
				a {
					&::before {
						width: 16px;
						height: 12px;
						background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='13' fill='none'%3E%3Cpath fill='%23#{$color-3-svg}' d='M15.075.317c.812 0 1.5.687 1.5 1.5 0 .5-.25.937-.625 1.218L9.168 8.13a.986.986 0 0 1-1.219 0L1.17 3.035a1.496 1.496 0 0 1-.595-1.218 1.5 1.5 0 0 1 1.5-1.5h13Zm-7.72 8.625a2.016 2.016 0 0 0 2.407 0l6.813-5.125v6.5c0 1.125-.907 2-2 2h-12c-1.126 0-2-.875-2-2v-6.5l6.78 5.125Z'/%3E%3C/svg%3E");
					}
					&:hover {
						&::before {
							background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='13' fill='none'%3E%3Cpath fill='%23FFFFFF' d='M15.075.317c.812 0 1.5.687 1.5 1.5 0 .5-.25.937-.625 1.218L9.168 8.13a.986.986 0 0 1-1.219 0L1.17 3.035a1.496 1.496 0 0 1-.595-1.218 1.5 1.5 0 0 1 1.5-1.5h13Zm-7.72 8.625a2.016 2.016 0 0 0 2.407 0l6.813-5.125v6.5c0 1.125-.907 2-2 2h-12c-1.126 0-2-.875-2-2v-6.5l6.78 5.125Z'/%3E%3C/svg%3E");
						}
					}
				}
			}
		}
	}
}